<section class="overflow-hidden relative ">
  <!-- <svg class="lg:-mx-4 relative" viewBox="0 0 1340 241" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0.297923 241V0.17719H76.3291L141.007 190.427L205.341 0.17719H281.373V241H228.392V179.074C228.392 124.717 242.153 76.5524 260.387 37.3327V33.8924H243.185L168.53 241H113.141L38.4855 33.8924H21.2839V37.3327C39.5176 76.5524 53.2789 124.717 53.2789 179.074V241H0.297923ZM292.922 0.17719H347.967V241H292.922V0.17719ZM359.678 241V0.17719H433.989L534.446 203.156H551.648V199.716C531.35 161.528 521.029 130.91 521.029 98.2265V0.17719H574.01V241H500.731L397.865 33.8924H380.664V37.3327C398.897 65.5434 412.659 100.291 412.659 139.51V241H359.678ZM585.78 0.17719H640.825V241H585.78V0.17719ZM652.535 241V0.17719H728.566L793.245 190.427L857.579 0.17719H933.61V241H880.629V179.074C880.629 124.717 894.39 76.5524 912.624 37.3327V33.8924H895.422L820.767 241H765.378L690.723 33.8924H673.521V37.3327C691.755 76.5524 705.516 124.717 705.516 179.074V241H652.535ZM926.237 241L1009.49 0.17719H1087.93L1173.25 241H1116.83L1099.29 183.547H998.14L980.595 241H926.237ZM1012.93 140.198H1084.15L1058.69 68.6397C1055.25 59.0068 1054.56 47.3097 1056.63 35.2685H1039.42C1041.49 47.3097 1041.14 59.0068 1037.7 68.6397L1012.93 140.198ZM1166.12 241V0.17719H1220.83V196.276H1339.86V241H1166.12Z" fill="black"/>
</svg> -->

<svg class="lg:-mx-4 relative" viewBox="0 0 2238 358" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M5.96046e-07 358V297.5L268.5 66.5H11.5V1.49997H384.5V62L115.5 293H383.5V358H5.96046e-07ZM434.551 358V0.499983H826.551V65.5H514.551V144.5H797.551V209.5H514.551V293H826.551V358H434.551ZM881.328 358V0.499983H962.328L1215.33 257.5V0.499983H1295.33V358H1214.33L961.328 100.5V358H881.328ZM1365.21 358V0.499983H1757.21V65.5H1445.21V144.5H1728.21V209.5H1445.21V293H1757.21V358H1365.21ZM1781.99 358L1915.99 179.5L1781.99 0.499983H1879.49L1986.99 147H2032.99L2140.49 0.499983H2237.99L2103.99 179.5L2237.99 358H2139.99L2032.99 212H1986.99L1879.99 358H1781.99Z" fill="#090909"/>
</svg>


  <div class="px-8 md:px-12 py-24 max-w-2xl mx-auto relative">
    <div>
      <span
        class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-sm leading-6 text-black ring-1 ring-zinc-200 bg-white ring-inset">
        <p>Rediscover</p>
        <div class="h-2 w-2 rounded-full bg-black border-2 border-black "></div>

        <div class="h-2 w-2 rounded-full border-black border-2 "></div>
      </span>
      <h2 class="text-5xl mt-12 tracking-tighter font-normal text-black">
        Web app &amp; design <span class="block">for startups.</span
        >
      </h2>
    </div>
    <ul
      class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12"
    >
      <div>
        <p>
          Zenex focus on providing the best experience for startups and small businesses.
        </p>
      </div>
      <div>
        <p>
          Forget about the hassle of hiring a designer or a developer. We take care of everything.
        </p>
      </div>
      <em class="col-span-full text-sm mt-8">
        <p>
          "Fools ignore complexity. Pragmatists suffer it. Some can avoid it. Geniuses remove it."
           <span class="block text-black">⏤ Alan Perlis</span>
        </p>
      </em>
    </ul>
  </div>
</section>
