<section class="overflow-hidden relative">

  <svg class="lg:-mx-4 relative hidden md:block" viewBox="0 0 2238 358" fill="none" xmlns="http://www.w3.org/2000/svg</svg>">
    <path d="M5.96046e-07 358V297.5L268.5 66.5H11.5V1.49997H384.5V62L115.5 293H383.5V358H5.96046e-07ZM434.551 358V0.499983H826.551V65.5H514.551V144.5H797.551V209.5H514.551V293H826.551V358H434.551ZM881.328 358V0.499983H962.328L1215.33 257.5V0.499983H1295.33V358H1214.33L961.328 100.5V358H881.328ZM1365.21 358V0.499983H1757.21V65.5H1445.21V144.5H1728.21V209.5H1445.21V293H1757.21V358H1365.21ZM1781.99 358L1915.99 179.5L1781.99 0.499983H1879.49L1986.99 147H2032.99L2140.49 0.499983H2237.99L2103.99 179.5L2237.99 358H2139.99L2032.99 212H1986.99L1879.99 358H1781.99Z" fill="#090909"/>
  </svg>
  
</div>
  <div class="px-8 md:px-12 pt-24 pb-16 max-w-2xl mx-auto relative">

    <div>
      <span
        class="inline-flex items-center justify-center gap-2 rounded-full px-3 py-1 text-sm leading-6 text-black ring-1 ring-zinc-200 bg-white ring-inset">
        <p>Rediscover</p>
        <div class="h-2 w-2 rounded-full bg-black border-2 border-black "></div>

        <div class="h-2 w-2 rounded-full border-black border-2 "></div>
      </span>
      <h2 class="text-5xl mt-12 tracking-tighter font-normal text-black">
        Web app &amp; design <span class="block">for startups.</span
        >
      </h2>
    </div>

    <ul class="grid grid-cols-1 text-base text-zinc-500 lg:grid-cols-2 max-w-xl gap-2 group h-full mt-12">
      <div>
        <p>
          Zenex focus on providing the best experience for startups and small businesses.
        </p>
      </div>
      <div>
        <p>
          Forget about the hassle of hiring a designer or a developer. We take care of everything.
        </p>
      </div>
      <em class="col-span-full text-sm mt-8">
        <p>
          "Fools ignore complexity. Pragmatists suffer it. Some can avoid it. Geniuses remove it."
           <span class="block text-black">⏤ Alan Perlis</span>
        </p>
      </em>
    </ul>

  </div>

  <div class="mx-auto flex justify-center w-full px-8 max-w-2xl">
    <a href="https://calendly.com/raulcano/meet"
      target="_blank"
      class="py-2 w-auto px-4 border-2 h-8 focus:ring-2 rounded-full border-gray-300 bg-black/5 hover:bg-transparent text-black duration-200 focus:ring-offset-2 hover:text-black inline-flex items-center justify-center ring-2 focus:ring-black ring-transparent">
          Book a call</a>
  </div>

</section>
