<section class="scroll-mt-12" id="how">
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <div>
     <h2
        class="text-2xl tracking-tighter  font-light lg:text-4xl text-black"
      >
    How it works.
      </h2>
    </div>
    <div>
      <p class="text-sm text-zinc-500 mt-8">
        Once you reach out, We'll get back to you within 24 hours. We'll discuss your project, and we'll provide you with a quote. Once we agree on the terms, We'll send you an invoice and a contract.
        <br /><br />
        We'll tackle each request step by step, and feel free to ask for as many tweaks as you need.
        <br /><br />
        Making sure to deliver a product that you're proud of and fits your needs.
      </p>
    </div>
  </div>
</section>
