<section>
  <div class="px-8 md:px-12 py-12 max-w-2xl mx-auto">
    <h2 class="text-3xl tracking-tighter font-light mb-8">
      Zenex Setup.
    </h2>
    <div class="h-full bg-black rounded-3xl text-center overflow-hidden">
      <img src="/setup-vertical.webp" alt="cta" class="mx-auto object-cover "/>
    </div>
  </div>
</section>